/**************Main**************/
.main {
  max-width: 100vw;
  filter: blur(0);
  transition-duration: 250ms;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
}

.main__sidebar,
.infocontainer {
  min-height: 100vh;
}

/**************Nav**************/
span.MuiTouchRipple-root.css-8je8zh-MuiTouchRipple-root,
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: rgb(96 165 250) !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: rgb(96 165 250) !important;
}

/**************Sidebar**************/
.vertical__top {
  vertical-align: top;
}

.sidebar__uploadbtn {
  width: 100%;
  margin-top: 1.5rem !important;
  transform: translateX(-50%);
  left: 50%;
}

.sidebar__imgcontainer {
  width: 180px;
  height: 180px;
  background-size: 100%;
  background-position: center;
}

.sidebar__input {
  margin-top: 16px !important;
}

.sidebar__phonenumber {
  margin-bottom: 32px !important;
}

.sidebar__phonenumber svg {
  height: 10px;
  width: auto;
}

.sidebar__phonenumber > svg {
  transform: scale(0.5);
}

.sidebar__heading {
  margin-bottom: -12px;
}

span.MuiSwitch-track.css-1yjjitx-MuiSwitch-track {
  background-color: rgb(203 213 225);
}

.invalidemail {
  color: red !important;
  position: relative;
}

.invalidemail::after {
  content: "" !important;
  position: absolute !important;
  display: block !important;
  width: 10px !important;
  height: 10px !important;
  background: #ff0000 !important;
  top: 100% !important;
  left: 50% !important;
  margin-left: 5px !important;
}

/**************Infocontainer**************/
.infocontainer__row {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(203 213 225);
}

.infocontainer__skillfield {
  width: 250px;
}

.infocontainer__addbtn,
.infocontainer__removebtn {
  height: 40px !important;
  margin-left: 16px !important;
}

.infocontainer__removebtn {
  width: 178px !important;
}

.infocontainer__addbtn--mr,
.infocontainer__removebtn--mr {
  height: 40px !important;
  margin-right: 16px !important;
}

.infocontainer__form .infocontainer__formrow {
  margin-bottom: 16px;
}

.infocontainer__skills {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.infocontainer__skill {
  max-width: 200px;
  margin: 0 15px;
  list-style-type: initial;
  overflow-wrap: break-word;
}

.infocontainer__field {
  margin-top: 16px !important;
  width: 250px !important;
}

.infocontainer__workfield,
.infocontainer__companyfield,
.infocontainer__skillfield,
.infocontainer__schoolfield,
.infocontainer__degreefield,
.infocontainer__studyfield {
  width: 265px !important;
}

.date__menuitem {
  width: 125px !important;
  margin-right: 16px;
}

.infocontainer__ongoingcheck {
  margin-top: 16px !important;
}

.infocontainer__jobdescription,
.infocontainer__educationdescription {
  margin-top: 32px !important;
}
