#root,
.App,
.main,
.main--sidebar {
  min-height: 90vh;
}

input:focus,
textarea:focus {
  outline: none;
}
.formrow--title.bordbot--none {
  border-bottom: none !important;
}
.user--imagecontainer {
  background-size: cover;
}
.userinput--list,
.main--skillslist {
  grid-template-columns: 150px 150px 150px 150px;
  list-style: initial;
}
.blurred {
  filter: blur(10px);
  min-height: 150vh;
}
.main {
  overflow: hidden;
}
