@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
#root,
.App,
.main,
.main--sidebar {
  min-height: 90vh;
}

input:focus {
  outline: none;
}

/* sidebar--formpage*/
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label.switchLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  background: rgb(156 163 175);
  display: block;
  border-radius: 100px;
  position: relative;
}

label.switchLabel:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label.switchLabel {
  background: #4ade80;
}

input:checked + label.switchLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label.switchLabel:active:after {
  width: 130px;
}

label.switchLabel,
input#switch {
  transform: scale(0.3);
}

.nav .modetoggle {
  max-width: 130px;
  transform: translateY(-10px);
}

.user--image {
  height: 280px;
  width: 280px;
  border-radius: 200px;
}

/*main--formpage--topform*/

.main--topform {
  padding: 30px 50px;
}

.skillsform--userinput {
  display: flex;
  height: 100px;
}
.userinput--list {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  list-style-type: none;
}
